* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

body {
    background-color: rgb(227, 236, 185);
}

main {
    background-color: rgb(235, 205, 205);
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.553);
}